*__pycache__
/env
/keys
/results
/trained_models
trained_models.npz
/cluster_shuffling_env
/dataset
.env

/federated_reconstructions
/federated_simple_gradients
/federated_simple_models
*.pyc
*.tar.gz
docs/
.aicraft

# Large model files
GIFD_Gradient_Inversion_Attack/inversefed/genmodels/stylegan2_ada_pytorch/cifar10.pkl